// color
$blue: #0f3fec;
$white:#d4d8f0;
$dark-blue:#333745;
$purple:#a906f5;
$off-blue:#041450;
$light-blue:#081855;

//size
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.0rem;
$desktop-width:43rem;
